---
// Redirect /category to /categories
---

<meta http-equiv="refresh" content="0;url=/categories" />
<script>
  window.location.href = '/categories';
</script>
<p>Redirecting to <a href="/categories">categories</a>...</p>
